:root {
  --light_gray: rgba(185, 185, 185, 1);
  --dark_gray: rgba(120, 120, 120, 0.8);
  --dark_gray_semi: rgba(120, 120, 120, 0.5);
  --yellow: rgba(255, 251, 128, 1);
  --yellow_semi: rgba(244, 255, 122, 0.5);
}

* {
  box-sizing: border-box;
}

html {
  background-color: rgb(60,60,60);
}

/* body */
body {
  min-width: 350px;
  max-width: 800px;
  margin: auto;
  padding: 30px 30px 0px 30px;
  background-color: var(--light_gray);
  border-left: 2px solid var(--yellow);
  border-right: 2px solid var(--yellow);
  font-family: "Rajdhani", sans-serif;
  font-size: 21px;
  color: rgb(25,25,25);
  box-shadow: -50px 0px 50px rgba(20, 20, 20, 0.3), 50px 0px 50px rgba(20, 20, 20, 0.3);
}

hr {
  width: 75%;
  margin: 50px auto;
  border-style: solid;
  border-width: 1px;
  color: var(--yellow_semi);
}

footer {
  text-align: center;
  padding: 30px 0 0 0;
  font-size: 16px;
}

footer a {
  color: Black;
}

h1, h2, h3 {
  font-family: "Rajdhani", sans-serif;
  color: black;
  text-align: center;
}

h1 {
  letter-spacing: 5px;
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

#intro {
  text-align: center;
}

#intro p {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.roundimage {
  display: block;
  width: 50%;
  min-width: 175px;
  max-width: 350px;
  border: 1px solid var(--yellow);
  border-radius: 50%;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container div {
  padding: 20px;
}

.flex-container div:hover {
  background-color: var(--dark_gray);
  color: var(--yellow) !important;
}

.slideshow-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.mySlides {
  display: none;
  padding: 0px 10px;
  height: auto;
  text-align: justify;
  font-style: italic;
}

.triangle {
  cursor: pointer;
  margin: 0px 20px;
  padding: 25px 15px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  border: none;
  background-color: var(--dark_gray_semi);
  border: 1px solid var(--dark_gray_semi);
  color: var(--yellow);
}

.triangle:hover {
  background-color: var(--dark_gray);
  color: var(--yellow);
  border: 1px solid var(--yellow);
}

#dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: var(--dark_gray_semi);
  border: 1px solid var(--dark_gray_semi);
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active {
  background-color: var(--yellow);
  border: 1px solid var(--yellow);
}

.dot:hover {
  border: 1px solid var(--yellow);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

#top-button {
  display: block;
  text-align: center;
  bottom: 0px;
  width: 30%;
  background-color: var(--dark_gray_semi);
  color: var(--yellow);
  cursor: pointer;
  padding: 15px;
  margin: 30px auto 0px auto;
  font-size: 18px;
  transition: 0.6s ease;
}

#top-button:hover
{
  border-top: 1px solid var(--yellow);
  border-left: 1px solid var(--yellow);
  border-right: 1px solid var(--yellow);
  background-color: var(--dark_gray);
}


/* ------------ font awesome -------------- */

.fa {
  box-sizing: content-box;
  padding: 20px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--dark_gray);
  border: 1px solid var(--dark_gray);
  color: var(--yellow);
  transition: 0.6s ease;
}

.fa:hover {
  border: 1px solid var(--yellow);
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 30px 30px 0px 30px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  hr {
    margin: 40px auto;
  }

  footer {
    font-size: 10px;
    padding-top: 30px;
  }

  .triangle {
    margin: 0px 10px;
    padding: 15px 10px;
    font-size: 14px;
  }

  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
  }

  .fa {
    font-size:16px;
    width: 16px;
    height: 16px;
    padding: 16px;
  }

  #top-button {
    padding: 10px; /* Some padding */
    margin: 30px auto 0px auto;
    font-size: 12px; /* Increase font size */
  }
}
